---
import { Image } from 'astro:assets'
const { item } = Astro.props
interface Testimonial {
	image: ImageMetadata
	name: string
	job: string
	description: string
}
interface Props {
	item: Testimonial
}
---

<div class="relative flex flex-col rounded-lg border border-primary px-4 pb-8 pt-12">
	<Image
		src={item.image}
		alt="Jason Todd"
		width={60}
		class="absolute -top-8 left-1/2 -translate-x-1/2 bg-cover bg-center"
	/>
	<div class="flex flex-col text-center">
		<h4 class="text-lg font-bold">{item.name}</h4>
		<small class="opacity-60">{item.job}</small>
		<p class="mx-auto w-full max-w-[12rem] pt-3 text-sm leading-relaxed">
			{item.description}
		</p>
	</div>
</div>
